@font-face {
  font-family: 'TT Chocolates Trial';
  src: url('/fonts/TT Chocolates Trl/TT Chocolates Trial Regular.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates Trial';
  src: url('/fonts/TT Chocolates Trl/TT Chocolates Trial Medium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates Trial';
  src: url('/fonts/TT Chocolates Trl/TT Chocolates Trial DemiBold.otf')
    format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates Trial';
  src: url('/fonts/TT Chocolates Trl/TT Chocolates Trial Bold.otf')
    format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates Trial';
  src: url('/fonts/TT Chocolates Trl/TT Chocolates Trial ExtraBold.otf')
    format('opentype');
  font-weight: 800;
  font-style: normal;
}

@import 'tailwindcss';

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'TT Chocolates Trial', system-ui, sans-serif;
  }
}

.container {
  margin-inline: auto;
  max-width: 1280px;
}

.nav-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  transition: font-weight 0.2s ease-in-out;
}

.nav-link::after {
  content: attr(data-text);
  font-weight: 700;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
}

.nav-link:hover,
button:hover .nav-link {
  font-weight: 700;
}
