@import 'tailwindcss';

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

.container {
  margin-inline: auto;
  max-width: 1280px;
}

.nav-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  transition: font-weight 0.2s ease-in-out;
}

.nav-link::after {
  content: attr(data-text);
  font-weight: 700;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
}

.nav-link:hover,
button:hover .nav-link {
  font-weight: 700;
}
